<div class="main-container" [ngClass]="{'blur-background': blurBackground}">

  <div class="header">
    <h1>Courses</h1>
    @if(userRole == "admin") {
    <div>
      <button (click)="assign()">assign courses</button>
      <button (click)="course()">edit courses</button>
      <button (click)="addUser()">add user</button>
    </div>
    } @else if (userRole == "teacher") {
    <button (click)="assign()">assign courses</button>
    <button (click)="addUser()">add user</button>
    }
  </div>

  @if(!isLoading && !error) {
  <div class="course-list">
    <div class="course-card" *ngFor="let course of courses">
      <h3 class="course-card-title">{{ course.name }}</h3>
      <p class="course-card-details">Source: {{ course.source }}</p>
    </div>
  </div>
  }

  @if(isLoading) {
  <div class="loading" >Loading courses...</div>
  }

  @if(error) {
  <div class="error" >Error: {{ error }}</div>
  }

</div>

@if(showPopup) {
<app-popup [state]="state" (close)="closePopup()" (update)="loadCourses()"></app-popup>
}